# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
ENV/
env/

# Ignore NumPy data files
*.npy
*.npz

# Ignore log files
*.log

# Ignore Windows system files
Thumbs.db
